#role {
	font-size: 20px;
}

.contact-item {
	padding: 5px 0 5px 3px;
	margin: auto;
}

.category {
	padding-left: 0;
	margin-top: 10px;
}


.inputDiv  {
	float: left;
	width: 80%;
	min-height: 100%;
	/*border: Navy 1px dotted;*/
	margin: 0 0 0 50px;
	padding: 10px;
}

#pbar0-label,
#pbar1-label,
#pbar2-label,
#pbar3-label,
#pbar4-label {
	font-size: 20px;
}

#langBar0-label,
#langBar1-label {
	font-size: 18px;
}

#langBar0,
#langBar1 {
	margin: auto auto 10px auto;
}

.title {
	font-size: 17px;
}

.text-center {
	text-align: center;
}

.bottom-margin {
	margin-bottom: 50px;
}

.side-padding {
	padding: 0 5%;
}

.inblock {
	display: inline-block;
}

.white-text {
	color: white;
}

.url {
	font-size: 11px;
}
._row {
	width: 100%;
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	/*overflow: auto;*/
}

.col-1 {
	width: 8.33%
}

.col-2 {
	width: 16.66%
}

.col-3 {
	width: 25%
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.aboutMe {
	padding-right: 50px;
}



@media screen and (max-width: 950px){
	#topContacts {
		display: none;
	}

	.col-sm-4 {
		width: 33.33%;
	}
	.col-sm-8 {
		width: 66.66%;
	}
	.col-sm-12 {
		width: 100%;
	}

	.skills {
		display: flex;
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 550px){
	.biopic {
		width: 130px;
	}
	.welcome-message {
		font-size: 15px;
	}

}

@media only screen and (max-width: 450px){
	.col-xs-12 {
		width: 100%;
	}

	.biopic  {
		display: none;
	}

	.welcome-message {
		font-size: 15px;
	}

}
